{% extends "layout.html" %}

{% block content %}
<div class="animation">
    <div class="wrapper">
        <div class="earth"></div>
        <div class="moon"></div>
        <!-- Generate more random stars if you want-->
        <div class="star" style="top: 10%; left: 20%;"></div>
        <div class="star" style="top: 40%; left: 70%;"></div>
        <div class="star" style="top: 60%; left: 30%;"></div>
        <div class="star" style="top: 80%; left: 80%;"></div>
    </div>
</div>

{% endblock %}
