{% extends "layoutEnglish.html" %}

{% block content %}

<div class="card mb-3 text-bg-dark">
    <div class="h-100 p-5 text-bg-dark rounded-3">
        <h1>Domenico Porfile Web</h1>
        <p>Hello! I am a telecommunications engineer and I specialize in the design and development of innovative solutions in the field of telecommunications. My objective is to understand the needs and restrictions of a constantly changing technological environment to propose and execute projects that apply telecommunications engineering.</p>
        <button class="btn btn-outline-light" type="button">Download CV</button>
    </div>
</div>

{% endblock %}